<form #form="ngForm" (submit) = "onSubmit(form)" autocomplete="off">
    <div class="form-group">
        <label for="">Name</label>
        <input name="Name" #Name="ngModel" [(ngModel)]="service.formData.Name" class="form-control" required>
        <div class="validation-error" *ngIf="Name.invalid && Name.touched">This field is required</div>
    </div>
    <div class="form-group">
        <label for="">Alias</label>
        <input name="Alias" #Alias="ngModel" [(ngModel)]="service.formData.Alias" class="form-control" >
    </div>
    <div class="form-group">
        <label for="">CategoryId</label>
        <input name="CategoryId" #CategoryId="ngModel" [(ngModel)]="service.formData.CategoryId" class="form-control" >
    </div>
    <div class="form-group">
        <label for="">ViewCount</label>
        <input name="ViewCount" #ViewCount="ngModel" [(ngModel)]="service.formData.ViewCount" class="form-control" >
    </div>
    <div class="form-group">
        <label for="">Description</label>
        <input name="Description" #Description="ngModel" [(ngModel)]="service.formData.Description" class="form-control" >
    </div>
    <div class="form-group">
        <label for="">Content</label>
        <input name="Content" #Content="ngModel" [(ngModel)]="service.formData.Content" class="form-control" >
    </div>
    <div class="form-group">
        <label for="">Image</label>
        <input name="Image" #Image="ngModel" [(ngModel)]="service.formData.Image" class="form-control" >
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="">HomeFlag</label>
            <input name="HomeFlag" #HomeFlag="ngModel" [(ngModel)]="service.formData.HomeFlag" class="form-control" >
        </div>
        <div class="form-group col-md-6">
            <label for="">HotFlag</label>
            <input name="HotFlag" #HotFlag="ngModel" [(ngModel)]="service.formData.HotFlag" class="form-control" >
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info btn-lg btn-block ">SUBMIT</button>
    </div>
</form>