<div class="jumbotron" id="header">
    <div class="container text-center " style="margin-bottom: -17px;">
      <h1><strong class="darkcolor">BigBoss <span class="highlight1"> Store</span></strong></h1>
      <p class="highlight1">Mission, Vission & Values</p>
    </div>
  </div>
  
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" style="text-transform: uppercase;">Brand</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse row" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-left">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" style="background: var(--bgcolor);">
            <div class="input-group-btn">
              <button class="btn btn-danger" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false"><span class="glyphicon glyphicon-user"></span> Account<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Log in</a></li>
              <li><a href="#">Log out</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
          <li><a href="#" id="mycart"> <span class="glyphicon glyphicon-shopping-cart"></span><span class="badge" style="position: absolute;
            top: 10px;
            background: var(--highlight);
            font-size: 9px;
            left: 25px;">5</span></a>
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object" src="" alt="...">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Media heading</h4>
                <p>100.000</p>
              </div>
            </div>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div id="account">
    <h2>Login</h2>
    <form action="">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="remember"> Remember me</label>
      </div>
      <button type="submit" class="btn btn-warning">Submit</button>
    </form>
  </div>
  
  <div id="community ">
    <div class="container fix-padding">
      <div class="row">
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-globe logo"></span>
        </div>
        <div class="col-sm-8">
          <h2>Our Values</h2><br>
          <h4><strong>MISSION:</strong> Our mission lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
          <p><strong>VISION:</strong> Our vision Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container ">
    
    <div class="">
      <div class="row slideanim">
        <div class="col-sm-2 col-xs-4">
          <div class="thumbnail">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            <div class="caption">
              <h4>Thú cưng nè</h4>
              <div class="infor-product">
                <p>200000 đ</p>
                <small>Đã bán 200</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-xs-4">
          <div class="thumbnail">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            <div class="caption">
              <h4>Thú cưng nè</h4>
              <div class="infor-product">
                <p>200000 đ</p>
                <small>Đã bán 200</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-xs-4">
          <div class="thumbnail">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            <div class="caption">
              <h4>Thú cưng nè</h4>
              <div class="infor-product">
                <p>200000 đ</p>
                <small>Đã bán 200</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-xs-4">
          <div class="thumbnail">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            <div class="caption">
              <h4>Thú cưng nè</h4>
              <div class="infor-product">
                <p>200000 đ</p>
                <small>Đã bán 200</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-xs-4">
          <div class="thumbnail">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            <div class="caption">
              <h4>Thú cưng nè</h4>
              <div class="infor-product">
                <p>200000 đ</p>
                <small>Đã bán 200</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-xs-4">
          <div class="thumbnail">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            <div class="caption">
              <h4>Thú cưng nè</h4>
              <div class="infor-product">
                <p>200000 đ</p>
                <small>Đã bán 200</small>
              </div>
            </div>
          </div>
        </div>
      </div>
  
  
    </div><br>
  
  </div>
  <footer class="bg-dark fix-padding">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <h3>Big Boss</h3>
          <small>12/22 Cau Giay Ha Noi Viet Nam</small>
          <small>03541230099</small>
        </div>
      </div>
    </div>
  </footer>