<!-- main wrapper -->
<!-- ============================================================== -->
<div class="dashboard-main-wrapper">
    <app-dashboard-header></app-dashboard-header>
    <app-left-sidebar></app-left-sidebar>
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content ">
                <router-outlet></router-outlet>
                
            </div>
            <app-footer></app-footer>
        </div>
    </div>
    
</div>