:root{
    --maincolor: #B2D732;
    --bgcolor: #F0F7D4;
    --highlight: #FE2712;
    --highlight1: #347B98;
    --darkcolor: #092834;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color:var(--darkcolor);
}

.maincolor{
    color: var(--maincolor);
}
.bgcolor{
    background-color: var(--bgcolor);
}
.highlight{
    color: var(--highlight);
}
.highlight1{
    color: var(--highlight1);
}
.darkcolor{
    color: var(--darkcolor);
}
.fixed{
    position:fixed ;  
    width: 100%;
    top: 0;
    z-index: 1000;
    opacity: 0.9;
}

.jumbotron{
    background-color: var(--maincolor);
    margin-bottom: 0;
    letter-spacing: 0.3em;
    padding-top: 20px;
    padding-bottom: 20px;
}


.jumbotron h1{
    font-family: 'Alfa Slab One', cursive;
}
.navbar-default{
    background: var(--maincolor);
    webkit-box-shadow: none;
    box-shadow: none;
}
.navbar{
    border-radius: 0;
    border: none;
    margin-bottom: 0px;

}
.navbar-default .navbar-nav>li>a{
    color: var(--darkcolor);
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.5s linear;
}

.navbar-default .navbar-nav>li> a:focus, .navbar-default .navbar-nav>li> a:hover, .navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    border-bottom: 3px solid var(--highlight);
    background: var(--maincolor);
    box-shadow: none;
}
.media{
    position: absolute;
    width: 200px;
    right: 0;
    background: var(--darkcolor);
    display: none;
}
#mycart:focus .media{
    display: block;
}


.thumbnail{
    padding: 0px;
    box-shadow: 0 0.0625rem 0.125rem 0 rgba(0,0,0,.1);
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 3px;
    transition: transform .1s cubic-bezier(.4,0,.6,1),box-shadow .1s cubic-bezier(.4,0,.6,1),-webkit-transform .1s cubic-bezier(.4,0,.6,1);
}
.thumbnail:hover{
    border: 1px solid var(--highlight);
    transform: translateY(-.0625rem);
}
.thumbnail img{
    height: 150px;
}
.thumbnail .caption{
    overflow: auto;
}
.thumbnail .caption p{
    color: var(--highlight);
    float: left;
}

.thumbnail .caption small{
    color: gray;
    float: right;
}
.slideanim {visibility:hidden;}
.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide;
  /* The duration of the animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

.logo {
    color: var(--maincolor);
    font-size: 200px;
  }

.bg-grey{
    background: #f6f6f6;
}
.bg-dark{
    background: var(--darkcolor);
    color: var(--maincolor);
}
.fix-padding{
    padding-top: 30px;
    padding-bottom: 30px;
}